<section class="sectionGeneral">
    <section class="sectionProducto">
        <form action="form-">
            <section class="form-group sectionTitle">
                <h4>PRODUCTO NRO</h4>
                <h5>{{producto.id}}</h5>
            </section>
            
            <section class="form-group">
                <label for="">Codigo de barras:</label>
                <input type="text" class="form-control" name="" value="{{producto.codigo}}">
            </section>
            <section class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" class="form-control"  name="" value="{{producto.descripcion}}">
            </section>
            <section class="form-group">
                <label for="">Precio de compra:</label>
                <input type="text" class="form-control"  name="" value="{{producto.precioCompra}}">
            </section>
            <section class="form-group">
                <label for="">Precio de venta:</label>
                <input type="text" class="form-control"  name="" value="{{producto.precioVenta}}">
            </section>
            <section class="form-group">
                <label for="">Existencia:</label>
                <input type="text" class="form-control"  name="" value="{{producto.existencia}}">
            </section>
            <section class="form-group sectionButton">
                <input type="button" class="btn btn-primary"  name="" value="Guardar">
            </section>             
        </form>
        
    </section>
</section>